.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#display {
  margin-bottom: 2em;
}

.cero-fila,
.primera-fila,
.segunda-fila,
.tercera-fila,
.operadores {
  display: flex;
  gap: 1.5em;
  margin-bottom: 2em;
}
